<?xml version="1.0"?>
<config>
    <modules>
        <Metagento_BackendSearch>
            <version>1.1.0</version>
        </Metagento_BackendSearch>
    </modules>
    <frontend>
        <routers>
            <backendsearch>
                <use>standard</use>
                <args>
                    <module>Metagento_BackendSearch</module>
                    <frontName>backendsearch</frontName>
                </args>
            </backendsearch>
        </routers>
        <translate>
            <modules>
                <Metagento_BackendSearch>
                    <files>
                        <default>Metagento_BackendSearch.csv</default>
                    </files>
                </Metagento_BackendSearch>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Metagento_BackendSearch before="Mage_Adminhtml">Metagento_BackendSearch_Adminhtml</Metagento_BackendSearch>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Metagento_BackendSearch>
                    <files>
                        <default>Metagento_BackendSearch.csv</default>
                    </files>
                </Metagento_BackendSearch>
            </modules>
        </translate>
        <global_search>
            <settings>
                <class>backendsearch/search_setting</class>
                <acl>system</acl>
            </settings>
        </global_search>
    </adminhtml>
    <global>
        <helpers>
            <backendsearch>
                <class>Metagento_BackendSearch_Helper</class>
            </backendsearch>
        </helpers>
        <blocks>
            <backendsearch>
                <class>Metagento_BackendSearch_Block</class>
            </backendsearch>
        </blocks>
        <models>
            <backendsearch>
                <class>Metagento_BackendSearch_Model</class>
                <resourceModel>backendsearch_mysql4</resourceModel>
            </backendsearch>
            <backendsearch_mysql4>
                <class>Metagento_BackendSearch_Model_Mysql4</class>
            </backendsearch_mysql4>
        </models>
        <resources>
            <backendsearch_setup>
                <setup>
                    <module>Metagento_BackendSearch</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </backendsearch_setup>
        </resources>
    </global>
</config>